:root {
    --dark-green: #386641;
    --medium-green: #6A994E;
    --lime-green: #A7C957;
    --beige: #F2E8CF;
    --red-accent: #BC4749;
    --light-green: #D6E8D2;
}
  
.out-cont {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    position: relative;
}
  
   
  
.out-cont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./images/backimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(4px);
    z-index: -1;
  }

  .in-cont {
    max-width: 350px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 15px;
    background-color: var(--beige);
    border: 1px solid var(--medium-green);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    z-index: 1;
  }
  
   
  
.container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
  
  }
  
   
  
.heading {
  color: var(--dark-green);
  margin-bottom: 15px;
  font-size: 1.8em;
}
  
   
  
  .in {
  
    width: 100%;
  
    padding: 12px;
  
    margin: 10px 0;
  
    border: 1px solid var(--medium-green);
  
    border-radius: 5px;
  
    font-size: 1em;
  
    transition: border-color 0.3s, box-shadow 0.3s;
  
  }
  
   
  
  .in:focus {
  
    border-color: var(--lime-green);
  
    outline: none;
  
    box-shadow: 0 0 8px rgba(166, 217, 86, 0.5);
  
  }
  
   
  
  .b1 {
  
    width: 100%;
  
    padding: 12px;
  
    background-color: var(--medium-green);
  
    border: none;
  
    color: white;
  
    font-size: 1em;
  
    border-radius: 5px;
  
    cursor: pointer;
  
    transition: background-color 0.3s ease, transform 0.2s;
  
  }
  
   
  
  .b1:hover {
  
    background-color: var(--dark-green);
  
    transform: translateY(-3px);
  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  
  }
  
   
  
  .b1:active {
  
    transform: translateY(1px);
  
    box-shadow: none;
  
  }
  
   
  
  .link {
  
    color: var(--lime-green);
  
    text-decoration: none;
  
    font-weight: bold;
  
    transition: color 0.2s;
  
  }
  
   
  
  .link:hover {
  
    text-decoration: underline;
  
    color: var(--dark-green);
  
  }
  
   
  
  #loginMessage, #signupMessage {
  
    color: var(--red-accent);
  
    font-size: 0.9em;
  
    margin-top: 10px;
  
    font-style: italic;
  
  }